:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.3vw;
}

body { 
  margin: 0;
  padding: 0;
  background-color: #d0ecef;
  overflow-x: hidden;
}

/*NASLOVI*/

h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 4.5vw;
  background: linear-gradient(to right, #e22030, #00aeac);
  background-size: 200%; 
  color: white;
  border-radius: 100px;
  margin: 0 3%;
  margin-bottom: 2%;
  padding: 0;
  animation: gradient-slide 3s linear infinite;
}

h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2.2vw;
  background: linear-gradient(to right, #e22030, #00aeac);
  background-size: 200%; 
  color: white;
  border-radius: 100px;
  text-align: center;
  width: 50vw;
  margin: 2% auto 0; /*prva top, druga left right, treca bottom*/
  animation: gradient-slide 3s linear infinite;
}

@keyframes gradient-slide {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.plava h1 {
  position: relative;
  z-index: 1;
}

/*TEKSTOVI*/

.uvodni-tekst {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #00000089;
  background-color: #f7f7f7;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 1000px;
  margin: 0 20%;
  padding: 1% 5%;
}

/*DUGMICI*/

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  color: white;
  background-color: #eb949e;
  border: none;
  border-radius: 100px;
  width: 10vw;
  height: 7vh;
  margin: 0 auto;
  transition: 0.4s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  width: 20vw;
  background-color: #68d3d1;
}

button a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}

/*FIX ZA RECEPTI STRANICU*/

.recepti-deo {
  display: flex;
  flex-direction: column;
  padding: 2% 0;
  gap: 10vh;
}

/*UBACIVANJE LOGO-a */

.logo-recept-logo {
  display: flex;
  position: relative;
}

.logo1 {
  display: flex;
  position: absolute;
  left: 5vw;
  height: 8vw;
  width: auto;  
  z-index: 100;
}
.logo2 {
  display: flex;
  position: absolute;
  right: 5vw;
  height: 8vw;
  width: auto;
  z-index: 100;
}