/*PILULE*/

.pilula {
    display: flex;
    position: relative;
    color: #00000089;
    background-color: #f7f7f7;
    width: 90vw;
    height: 60vh;
    margin: auto;
    border-radius: 1000px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); 
    transition: transform 0.3s ease;
}

.pilula img {
    top: 4vh;
    left: 4vh;
    object-fit: cover;
    position: absolute;
    width: 52vh;
    height: 52vh;
    border-radius: 50%;
    transition: left 0.4s ease;
}

.pilula h3 {
    display: flex;
    position: absolute;
    font-size: 3vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);        /*sluzi za centriranje teksta po sredini*/
    right: 5%;
    left: 40%;
    margin: 0;
    transition: opacity 0.3s ease;
}

.pilula p {
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    top: 50%;
    transform: translateY(-50%);
    right: 40%;
    left: 10%;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.pilula:hover {
    transform: scale(1.1);
}

.pilula:hover img {
    left: calc(100% - 52vh - 4vh);
}

.pilula:hover h3 {
    opacity: 0;
}

.pilula:hover p {
    opacity: 1;
}

/*PODESAVANJE POZICIJE NEKIH SLIKA RECEPATA*/

.pilula[data-recept-id="4"] img, .pilula[data-recept-id="5"] img {
    object-position: center 85%;
}

.pilula[data-recept-id="24"] img {
    object-position: center 75%;
}

.pilula[data-recept-id="20"] img {
    object-position: center 35%;
}

.pilula[data-recept-id="7"] img {
    object-position: center 0%;
}

/*PODESAVANJE POZICIJE NEKIH SLIKA SAVETA*/

.pravougaonik[data-savet-id="18"] img {
    object-position: center 100%;
}

.pravougaonik[data-savet-id="11"] img,
.pravougaonik[data-savet-id="17"] img,
.pravougaonik[data-savet-id="13"] img {
    object-position: center 75%;
}

.pravougaonik[data-savet-id="14"] img {
    object-position: center 60%;
}